<!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">JUAN HERNÁNDEZ</h1>
          <p><%= t(:aboutjuan) %></p>
          <p><a class="btn btn-primary btn-lg" href="<%= root_path%>" role="button"><%= t(:leaveyourvote) %> &raquo;</a></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <p><%= t(:juan1) %> </p>
            <p><a class="btn btn-secondary" href="<%= root_path%>" role="button"><%= t(:leaveyourvote) %> &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <p><%= t(:juan2) %></p>
            <p><a class="btn btn-secondary" href="#" role="button"><%= t(:leaveyourvote) %> &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <p><%= t(:juan3) %></p>
            <p><a class="btn btn-secondary" href="<%= root_path%>" role="button"><%= t(:leaveyourvote) %> &raquo;</a></p>
          </div>
        </div>


      </div> <!-- /container -->
